 .u-section-1 {
  background-image: linear-gradient(#1a1a1a, #333333);
}

.u-section-1 .u-sheet-1 {
  min-height: 567px;
}

.u-section-1 .u-text-1 {
  font-size: 12.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 100px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  background-image: none;
  font-size: 1.5rem;
  width: 525px;
  margin: 20px auto -151px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 599px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-1 .u-text-1 {
    font-size: 7.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
    width: 340px;
  }
} .u-section-2 {
  background-image: linear-gradient(#333333, #404040);
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}