 .u-section-1 {
  background-image: linear-gradient(#1a1a1a, #404040);
}

.u-section-1 .u-sheet-1 {
  min-height: 542px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: 0 20px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-weight: 700;
  margin: 40px 20px 0;
}

.u-section-1 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 10px 40px 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 39px 407px 31px 20px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 227px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-4 {
    margin-right: 7px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: linear-gradient(#404040, #333333);
}

.u-section-2 .u-sheet-1 {
  min-height: 116px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 13px;
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin-left: 20px;
  margin-top: 20px;
} .u-section-3 {
  background-image: linear-gradient(#333333, #404040);
}

.u-section-3 .u-sheet-1 {
  min-height: 1145px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 10px auto 0 30px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 10px 40px 0;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 40px 40px -53px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-4 {
  background-image: linear-gradient(#404040, #333333);
}

.u-section-4 .u-sheet-1 {
  min-height: 560px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 10px auto 0 30px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 10px 40px 0;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  text-align: start;
  margin: 30px 40px 15px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-5 {
  background-image: linear-gradient(#333333, #404040);
}

.u-section-5 .u-sheet-1 {
  min-height: 1378px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 10px auto 0 30px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 11px 40px 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-text-3 {
  font-size: 1rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  text-align: start;
  margin: 30px 40px 0;
}

.u-section-5 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-text-4 {
  font-size: 1rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  text-align: start;
  margin: 30px 40px 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-6 {
  background-image: linear-gradient(#404040, #333333);
}

.u-section-6 .u-sheet-1 {
  min-height: 660px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 10px auto 0 30px;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 10px 40px 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-text-3 {
  font-size: 1rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  text-align: start;
  margin: 30px 40px 40px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-7 {
  background-image: linear-gradient(#333333, #404040);
}

.u-section-7 .u-sheet-1 {
  min-height: 1164px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-size: 3rem;
  text-align: start;
  margin: 0 auto 0 30px;
}

.u-section-7 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-size: 1rem;
  margin: 10px 40px 0;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 40px 40px 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-top: 60px;
  }
} .u-section-8 {
  background-image: linear-gradient(#404040, #333333);
}

.u-section-8 .u-sheet-1 {
  min-height: 367px;
}

.u-section-8 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 10px auto 0 30px;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 10px 40px -233px;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-9 {
  background-image: linear-gradient(#333333, #404040);
}

.u-section-9 .u-sheet-1 {
  min-height: 142px;
}

.u-section-9 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 10px auto 0 30px;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 10px 40px -458px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.terms_of_service {
}